@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
    }
  }
}

* {
  transition: background-color 0.5s ease-in-out;
}

.rounded-animated {
  @apply rounded-badge rounded-ee-none rounded-ss-none;
  transition-property: border-radius;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

.rounded-animated:hover {
  @apply rounded-badge rounded-se-none rounded-es-none;
}

.h-3\/2 {
  height: 150vh;
}